@import '../root.scss';

.added{
  width: 100%;
  background: $light-3;
  height: 78px;
  border-radius: 0 0 12px 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 24px;
}
