@import '../root.scss';

.root {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.blue_space {
  background: $primary-1;
  height: 100%;
  flex-grow: 1;
}

.svg {
  height: 100vh;
}