@import '../foundation/all';

.root{
  display: flex;
  flex-direction: column;
  background: $dark-1;
  height: 100vh;
  padding: 10px;
}

.items{
  margin-right: 8px;
}

.menu{
  height: 100%;
  display: flex;
  align-items: flex-end;
  margin: 20px;
}

