@import '../root.scss';

.root {
  @include header-5;
  padding: 12px 16px;
  border: 1px solid $light-1;
  border-radius: 8px;
  display: flex;
  align-items: center;
  color: $light-1;
  width: 100%;
  transition: 100ms linear;
  text-align: left;
}

.error {
  border-color: $red;
  color: $light-1;
}

.active {
  border-color: $primary-1;
  color: $primary-1;
  .arrow {
    transform: rotateZ(-180deg);
  }
}

.hasArrow {
  justify-content: space-between !important;
  padding: 7px 16px;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 100ms linear;
}