@import '../root.scss';

.root {
  @include shadow-2;
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  padding: 12px;
  background: $light-5;
  border-radius: 12px;
  width: 100%;
  animation: fadeIn 100ms ease-in forwards;
  a, button, li, span {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 11px 8px;
    justify-content: flex-start;
    padding: 8px;
    border-radius: 8px;
    &:hover {
      background: $primary-bg-2;
    }
    &:active {
      background: $light-3;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
  }
}