@import '../root.scss';

.root {
  @include button-1;
  padding: 12px 16px; 
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid $dark-1;
  border-radius: 8px;
  transition: 100ms linear;
  background: $dark-1;
  color: $light-5;
  path {
    color: $light-5;
  }
  &:hover{
    background: $dark-3;
    border-color: $dark-3;
  }
  &:active{
    background: $dark-4;
    border-color: $dark-4;
  }
}

.active {
  color: $light-5;
  background: $dark-4;
  border-color: $dark-4;
  path {
    color: $light-5;
  }
  &:hover{
    background: $dark-4;
    border-color: $dark-4;
  }
  &:active{
    background: $dark-4;
    border-color: $dark-4;
  }
}

.disabled {
  cursor: default;
  color: $dark-5;
  background: $dark-1;
  border-color: $dark-1;
  path {
    color: $dark-5;
  }
  &:hover{
    background: $dark-1;
    border-color: $dark-1;
  }
  &:active{
    background: $dark-1;
    border-color: $dark-1;
  }
}

.before_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}