@import '../root.scss';

.root {
  color: $dark-5;
  width: 34px;
  height: 34px;
  background: $light-2;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms linear;
  &:active {
    background: $primary-bg-1;
    color: $primary-3;
    transition: 100ms linear;
  }
}

.active {
  background: $primary-bg-1;
  color: $primary-3;
  transition: 100ms linear;
}