@import '../root.scss';

.root{
 width: 224px;
 display: flex;
 justify-content: flex-start;
 align-items: center; 
 margin: 15px 0 0 8px;
 padding: 8px 0 8px 12px ;
 border-radius: 8px;
 cursor: pointer;
 transition: 100ms;
 &:hover{
  background: $dark-3;
 }
}

.text{
  font-family: $inter;
  font-size: $fs-md;
  font-weight: $fw-medium;
  color: $light-5;
}
.mini{
  overflow: hidden;
  width: 50px;
  margin: 15px 0 0 0;
}

