@import '../root.scss';

.root{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.titleSideBar{
  margin-right: $fs-;
  path{
    color: $light-5;
  }
}

.text{
  color: $light-5;
  font-size: $fs-xxl;
}