@import '../root.scss';

.root{
  width: 400px;
}

.content {
  padding: 24px;
}

.dropdown_menu_item {
  @include header-5;
  position: relative;
  border: 1px dashed transparent;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: left;
  &:focus {
    border: 1px dashed $light-1;
  }
}

.dropdown_menu_item__active {
  color: $primary-1;
  .dropdown_menu_item__checkbox {
    color: $primary-1;
  }  
}

.dropdown_menu_item__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  height: 100%;
  color: $light-1;
}