@import '../root.scss';

.root{
  width: 558px;
}

.survey{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px;
  gap: 24px;
}

.bigBlock2{
  display: flex;
  justify-content: space-between;
}

.desc{
  @include header-7;
  color: $light-1;
  margin-top: 4px;
  display: inline-block;
}