@import '../root.scss';

.root {
  position: relative;
  width: 50%;
  height: 100%;
  background: $light-5;
  display: flex;
  align-items: center;
}

.logo {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.open {
  transform: translateX(calc(100% + 150px));
}

.opening {
  animation: open 1100ms cubic-bezier(1,.02,.44,.99) forwards;
}

.closing {
  animation: close 1100ms cubic-bezier(1,.02,.44,.99) forwards;
}

@keyframes open {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(100% + 150px));
  }
}

@keyframes close {
  0% {
    transform: translateX(calc(100% + 150px));
  }
  100% {
    transform: translateX(0);
  }
}