@import '../root.scss';

.root {
  background: $dark-1;
  height: 100vh;
  min-width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;

  ::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $dark-1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $dark-5;
    border-radius: 8px;
  }
}

.close {
  min-width: 68px;
  width: 68px;
}