@import '../root.scss';

.root {
  padding: 12px 32px;
  background: $primary-bg-2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  @include header-3;
  color: $dark-2;
}