@import '../root.scss';

.root{
  width: 596px;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.title{
  display: inline-block;
  padding-top: 10px;
  text-align: center;
  color: $light-1;
  font-size: 12px;
  
}

.title2{
  display: inline-block;
  padding-top: 10px;
  text-align: center;
  color: $dark-1;
}