* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  background: none;
  border: none;
  user-select: none;
  font-family: sans-serif;
}

button, button * {
  cursor: pointer;
}

svg {
  pointer-events: none;
}

body, html {
  overflow-x: hidden;
}