* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  background: none;
  border: none;
}

.App {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App--close, .App--close * {
  pointer-events: none;
}